<!-- footer.ejs -->
<footer>
    <p>© 2024 CryptoCortex. All rights reserved.</p>
    <p>Follow us on 
        <a href="#">Twitter</a>, 
        <a href="#">Instagram</a>, 
        and <a href="#">LinkedIn</a>
    </p>
  <p>&copy; 2024 We Got You Support Team</p>
  <ul>
    <li><a href="/support">Need Help? Go to Support</a></li>
  </ul>
</footer>
