<!-- header.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<script defer src="/js/scripts.js"></script>

<header>
    <nav>
        <img src="https://files.oaiusercontent.com/file-X7C1UtD20Fio6L8kAo6xddoe?se=2024-11-13T00%3A10%3A48Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D226e8997-775f-4409-a7ad-45fef9a55cff.webp&sig=HTUwnoPkZ6%2BMqZlio6KoKcs8bVAjKpd1Ha%2B7MjSb0Is%3D"  alt="CryptoCortex Logo" class="logo">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/transaction-history">Transaction History</a></li>
            <li><a href="/budgets">Budget Management</a></li>
            <li><a href="/crypto-news">news</a></li>
            <li><a href="/crypto-stocks">stocks</a></li>
            <li><a href="/logout">Logout</a></li>

        </ul>
    </nav>
</header>
